### IntelliJ IDEA ###
/.idea/
*.iml
*.iws
*.ipr

### Maven
/*/target/
/dashboard/dashboard-frontend/target/
/dashboard/move-dashboard/target/

### node.js
npm-debug.log
node_modules

### Local properties
/**/*-local.properties

