<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <springProperty name="ssl" source="app.logger.enableSSL"/>
    <springProperty name="jks" source="app.logger.jks"/>
    <springProperty name="password" source="app.logger.password"/>
    <!-- Logstash destination -->
    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <droppedWarnFrequency>5</droppedWarnFrequency>
        <destination>logstash:8300</destination>
        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"appname":"${project.artifactId}","buildinfo.version":"${project.version}","buildinfo.lastcommit":"${buildNumber}"}</customFields>
        </encoder>
        <if condition='property("ssl").contains("true")'>
            <then>
                <ssl>
                    <trustStore>
                        <location>${jks}</location>
                        <password>${password}</password>
                    </trustStore>
                </ssl>
            </then>
        </if>
    </appender>

    <appender name="configMetaConsole" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%msg: %marker%n</pattern>
        </encoder>
    </appender>

    <logger name="no.difi.meldingsutveksling.config.ConfigMeta" additivity="false">
        <appender-ref ref="stash"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="configMetaConsole"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="stash"/>
    </root>

</configuration>